<div class="title">
    <span class="back"><a routerLink='/home'> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="24px"
            height="24px">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z" /></svg></a> </span>
    <h2>Buyer Username recent popular purcahsese:</h2>
    <div class=""></div>
</div>
<div class="cards">
    <div class="card">
        <div class="face"><span><h2>｡◕‿◕｡</h2></span></div>
        <div class="size"><h3>Size:27</h3></div>
        <div class="price"><h3>Price:1100</h3></div>
        <ul class='list'>
            <h2 id="list-name">Recent buyers:</h2>
            <li><h2>Prvi neko</h2> </li>
            <li><h2>Drugi neko</h2></li>
            <li><h2>Treci neko</h2></li>
            <li><h2>Prvi neko</h2> </li>
            <li><h2>Drugi neko</h2></li>
            <li><h2>Treci neko</h2></li>
        </ul>
    </div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
</div>