@import './../../../styles.scss';

.container {
    background-color: $color-blue;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center
}

a {
    color: $color-yellow;
    font-size: 1.2em;

}