<div class="container">
    <div class="exam column">
        <h1>Warehouse frontend assignment</h1>
        <h2>This assignment extension of <a href="https://github.com/goran-b/warehouse">Warehouse Exam</a>.
            This app shows results of a backend for a new feature of the Discount Ascii Warehouse ecommerce platform.
            This application produce a list of "Popular purchases", so customers can see who else bought the same
            products as them.</h2>
    </div>
    <div class="users column">
        <h3>Check buyer's popular purchases:</h3>
        <ul>
            <li *ngFor="let user of users$ | async"><a routerLink='/userpurchases/{{ user.username }}'>{{ user.username }}</a> </li>
        </ul>
    </div>
</div>