@import './../../styles.scss';





.exam {

    color: $color-offwhite;
    h1{
        font-size:1.5em;
    }
    h2{
        font-size:1.2em;
        font-weight: normal;
    }
    a{
        color: $color-green;
        text-decoration:none;
    }
    a:hover {
        text-decoration: underline;
      }
}
.column{
    padding:1em;
    h3{
        color: $color-yellow;
    }
    ul{
        padding:0;
        color: $color-blue;
        li{
            background-color:$color-yellow;
            list-style: none;
            margin:2px 0;
            padding: 0.75em;
            transition: all .1s ease-in-out;
            a{
                font-size: 1.2em;
                font-weight: 700;
                color: $color-charcoal;
                padding:2em;
                text-decoration: none;
                
                
            }
        }
        li:hover{
            background-color: $color-blue;
            transform: scale(1.05);
            a{
            color: $color-offwhite;
        }
        }
    }
}
.users{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 600px) {
    .container {
        display: flex;
    }
    .column {
        flex: 50%;
        padding: 2em;
    }
}