<nav>
    <div class="container">
        <input type="checkbox" id="navbarCheckbox" class="navbar-checkbox" />
        <label for="navbarCheckbox" class="navbar-hamburger" title="Click to expand menu">
            <img src="./../../../assets/images/menu.svg" alt="menu" srcset="">
        </label>
        <ul class="navbar-nav cf">
            <li><a routerLink='/home'>Home</a></li>
            <li><a href="https://github.com/x-team/daw-purchases/blob/master/README.md#api-reference"
                    target="_blank">Purchases API</a></li>
            <li><a href="https://github.com/goran-b/warehouse" target="_blank">Django Assigment</a></li>
            <li><a href="https://github.com/goran-b/warehouse-frontend" target="_blank">Angular Assigment</a></li>
        </ul>
    </div>
</nav>